<!DOCTYPE html>
<html>

<%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>

            <main>
                <section class="login">
                    <h2 class="altaProducto">Alta de Producto</h2>
                    <form class="formulario" name="createForm" id="createForm" action="/productos/store" method="POST" enctype="multipart/form-data">

                        <div class="input-contenedor" id="grupo__nombre">
                            <label for="nombre" class="formulario__label">Nombre</label>
                            <i class="fas fa-user icon"></i>
                            <input type="text" name="nombre" id="nombre" class="formulario__input">
                            <i class="formulario__validacion-estado" class="fas fa-times-circle"></i>
                            <p class="formulario__input-error">El nombre solo puede contener letras y espacios.</p>
                        </div>
                        <div class="input-contenedor" id="grupo__precio">
                            <label for="precio" class="formulario__label">Precio</label>
                            <i class="fas fa-user icon"></i>
                            <input type="text" name="precio" id="precio" class="formulario__input">
                            <i class="formulario__validacion-estado" class="fas fa-times-circle"></i>
                            <p class="formulario__input-error">El campo precio solo puede contener numeros</p>
                        </div>

                        <div class="input-contenedor" id="grupo__descuento">
                            <label for="descuento" class="formulario__label">Descuento</label>
                            <i class="fas fa-envelope icon"></i>
                            <input type="email" name="descuento" id="descuento" class="formulario__input">
                            <i class="formulario__validacion-estado" class="fas fa-times-circle"></i>
                            <p class="formulario__input-error">El descuento solo puede contener numeros.</p>
                        </div>


                        <div class="input-contenedor" id="grupo__imagen">
                            <label for="" class="formulario__label">Seleccione una imagen</label>
                            <i class="fas fa-key icon"></i>
                            <input type="file" name="imagen" id="imagen" class="formulario__input">
                            <i class="formulario__validacion-estado" class="fas fa-times-circle"></i>
                            <p class="formulario__input-error"></p>
                        </div>
                        <input type="submit" value="Crear" class="button">

                    </form>
                    <script src="/js/productos.js"></script>
    </body>

</html>